* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    background: #0c192c;
}
.bolhas {
    position: absolute;
    display: flex;
}

.bolhas span {
    width: 30px;
    height: 30px;
    background: #e5ff00;
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #e5ff0044,
    0 0 50px #e5ff0044,
    0 0 100px #e5ff0044,
}

.bolhas span:nth-of-type(even) {
    background: #2dc3ff;
    
}